<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RallyHookProxy</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <%= if user_info @conn do %>
              <li> <%= link user_info(@conn), to: profile_path(@conn, :index) %> </li>
            <% else %>
              <li> <%= link "Register", to: registration_path(@conn, :new) %> </li>
            <% end %>
          </ul>
        </nav>
        <span class="logo">
          <img src="<%= static_path(@conn, "/images/pirate_hook.jpg") %>" />
          <span class="title"> Rally Webhook Proxy </span>
        </span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
